#header {
    background-color: #8dbcc6;
    padding: 15px;
    font-size: 2rem;
}

#sidebar {
    height: 100vh;
    background-color: #3980c6;
}

.menu.vertical {
    margin-top: 70px;
}

.position-left {
    width:100%;
    max-width:250px;
}

.off-canvas {
    background: #d6ffd5;
}

.menu a {
    outline: none;
}

#seed-chart {
    /*
    background-color: #8ee784;
    */
}
.chart text {
    font: 22px sans-serif;
    text-anchor: end;
}

.chart .x text {
    font: 12px sans-serif;
    text-anchor: end;
}

.chart rect {
    fill: steelblue;
}

.chart .y .tick line {
    stroke-opacity: .3;
}
.chart .y .tick:nth-child(even) line {
    stroke: #04b47b;
}
.chart .y .tick:nth-child(odd) line {
    stroke: rgba(102, 101, 103, 0.79);
}

.chart .y .tick:last-child line {
    stroke-opacity: 0;
}

.picker[readonly] {
    cursor: context-menu;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

textarea {
    height: 200px;
}

.ck-editor__editable {
    min-height: 400px;
    min-width:  500px;
}












@import url(https://fonts.googleapis.com/css?family=Roboto);
/*Just the background stuff */

/*My hum... body.. yeah.. */
body {
    font-family: "Roboto", sans-serif;
}


.blog-card2 {
    position: relative;
    margin: 80px auto;
    background-color: #FFF;
    -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}
.blog-card-thumbnail2 {
    position: relative;
    top: -30px;
    height: 320px!important;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.blog-card2 p {
    text-align: justify;
    padding-top: 10px;
    line-height: 150%;
    color: #4B4B4B;
}

@media print, screen and (min-width: 64em) {
    .grid-margin-x > .large-offset-1 {
        margin-left: calc(2% + .9375rem);
    }
}

.blog-card-fab2 {
    position: absolute;
    bottom: -35px;
    right: 12px;
    background-color: #9ed0be;
    width: 70px;
    height: 70px;
    color: white;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
    padding-left: 2px;
    padding-top: 14px;
    font-size: 14px;
}

.blog-card2 h1 {
    padding-top: 15px;
    font-size: 1.3rem;
    color: #4B4B4B;
}

.blog-card2 h5 {
    position: relative;
    left: 30px;
    bottom: 10px;
    font-size: 6rem;
    color: #C3C3C3;
    font-weight: bold;
}

.blog-card2 h6 {
    position: relative;
    left: -80px;
    bottom: -90px;
    font-size: 2rem;
    color: #C3C3C3;
    font-weight: bold;
}

.blog-card-separator {
    margin-top: 10px;
    border: 1px solid #C3C3C3;
}

.fa-arrow-down:before {
    content: "\f063";
}












.burger {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 999;
    color: #6e6e6e;
    border: 0;
    background: none;
    outline: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 4px solid currentColor;
    width: 28px;
    transition: border-bottom 1s ease-in-out;
    -webkit-transition: border-bottom 1s ease-in-out;
}
.burger::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.burger:before {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger:after {
    content: "";
    display: block;
    border-bottom: 4px solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger.open {
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.8s ease-in-out;
    -webkit-transition: border-bottom 0.8s ease-in-out;
}
.burger.open:before {
    transform: rotate(-405deg) translateY(1px) translateX(-3px);
    -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}
.burger.open:after {
    transform: rotate(405deg) translateY(-4px) translateX(-5px);
    -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
}

