<script>
    $(function() {
        var popup = new Foundation.Reveal($('#animatedModalForm'));
        popup.open();
        $("form[name='cms']").on("submit", function(e) {
            e.preventDefault();
            $("#cms_content").html(CKEDITOR.instances['cms_content'].getData());
            var formData = new FormData($(this)[0]);
            var target = $(this).attr('action');
            $.ajax({
                type: 'post',
                url: target,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function(result) {
                    $('#content').html(result);
                    popup.close();
                    $("#action-button a").data("toggle", "offCanvasRightPush");
                }
            });
        });
    });
</script>

<div class="reveal" id="animatedModalForm" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
    <div class="flash-notice">
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>