{% block javascripts %}
    <script>
        var id;
        $(document).on("click", ".burger", function() {
            $(this).toggleClass('open');
            $(this).data("toggle", "offCanvasLeftPush");
        });

        $(document).on("click", ".off-canvas a, #head a, .blog-actions a", function() {
            var target = $(this).data("url");
            id     = $(this).data("id") || null;
            if (target) {
                var type = $(this).data("type");
                $.ajax({
                    type: "post", url: "action", data: {action: target, type: type, id: id}, success: function (result) {
                        if (type === "full") {
                            $("#content").html(result);
                            $("#add").data("url", target);
                        } else if (type === "modal" || type === "delete") {
                            $("#modal").html(result);
                        }
                    }
                });
            }
        });

        $(document).on("click", "#login", function() {
            if ($(this).data("url") == "logout") {
                $.ajax({type: "post", url: "logout", success: function(result) {
                    $("#actions").remove();
/*
                    $("#modal").html(result);
*/
                }});
            }
        });

    </script>
{% endblock %}

{% block menu %}
    <div data-sticky-container>
        <div id="head" data-sticky data-options="marginTop:0;">
            <ul class="menu header-nav align-right">
                {% if is_granted('ROLE_ADMIN') == true %}
                    <li id="action-button" class="menu-text text-right">
{#
                        <a data-type="offcanvas" data-toggle="offCanvasRightPush" href="#">Actions</a>
#}
                        <a id="add" data-type="modal" data-url="cms" href="#">Add</a>
                    </li>
                {% endif %}
                <li class="menu-text text-right">
                    {% if is_granted('ROLE_ADMIN') == false %}
                        <a id="login" data-type="modal" data-url="user" href="#">Login</a>
                    {% else  %}
                        <a id="login" data-type="modal" data-url="logout" href="#">Logout</a>
                    {% endif %}
                </li>
            </ul>
            <button class="burger" data-toggle="offCanvasLeftPush"></button>
        </div>
    </div>

{#    <div class="off-canvas position-right" id="offCanvasRightPush" data-off-canvas data-transition="push">
        <ul class="vertical menu">
            <li class="menu-text"><a id="add" data-type="modal" data-url="cms" href="#">Add</a></li>
        </ul>
    </div>#}

    <div class="off-canvas position-left" id="offCanvasLeftPush" data-off-canvas data-transition="push">
        <ul class="vertical menu">
            <li class="menu-text"><a data-type="full" data-url="cms" href="#">Cms</a></li>
            <li class="menu-text"><a data-type="full" data-url="map" href="#">Karte</a></li>
            <li class="menu-text"><a data-type="full" data-url="log" href="#">Log</a></li>
            <li class="menu-text"><a data-type="full" data-url="event" href="#">Events</a></li>
            <li class="menu-text"><a data-type="full" data-url="plant" href="#">Aussaat</a></li>
            <li class="menu-text"><a data-type="full" data-url="40x" href="#">Ups</a></li>
        </ul>
    </div>

{% endblock %}

