<script>
    $(function() {
        var popup = new Foundation.Reveal($('#animatedModalForm'));
        popup.open();
        $("form[name='user']").on("submit", function(e) {
            e.preventDefault();
            let target = "login";
            let form = $(this).serializeArray();
            $.ajax({
                method: "POST",
                url: target,
                data: form,
                dataType: "json"
            })
            .done(function(result) {
                $("#flash").html(JSON.parse(result));
                $("#login").text("Logout");
                $("#login").data("url", "logout");
                $("#actions").remove();
                $(".header-nav").prepend('<li id="actions" class="menu-text text-right"><a data-toggle="offCanvasRight" href="#">Actions</a></li>');
                popup.close();
            })
            .fail(function(result) {
                $("#flash").html(JSON.parse(result.responseJSON));
            })
        });
    });
</script>

<div class="reveal" id="animatedModalForm" data-reveal data-close-on-click="true" data-animation-in="slide-in-down" data-animation-out="slide-out-up">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>